<IfModule mod_rewrite.c>
   RewriteEngine On

# Prevent redirect loops

RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all requests to /public/

RewriteRule ^(.\*)$ public/$1 [L]

</IfModule>
